@import "simple-grid";

@font-face{
  font-family: Neutra;
  src : url("../font/NeutraText-BookAlt.ttf");
}

html, body{
  overflow-x: hidden;
}

body{
  font-family: 'Neutra';
  background: rgb(17,29,80);
  background: linear-gradient(90deg, rgba(17,29,80,1) 0%, rgba(26,14,71,1) 35%, rgba(25,17,72,1) 100%);
  color: white;
  text-align: center;
}


/** MOUSE **
body{
  background-color: grey;
}
#mouse-scroll {
  style: block;
}
#mouse-scroll {
  position: fixed;
  margin: auto;
  left: 50%;
  top: 80px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s;
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

** MOUSE **/

// first part


//
//
// .brosse_a_dent{
//   display : block;
//   object-fit: cover;
//   height: 60rem;
// }

.first_relative{
  position: relative;
}

img{
  position : absolute;
  top: 0%;
  left: 55%;
  transform: scale(0.9);
}

.fade_left{
  width: 500px;
  animation-name: fade_left;
  animation-duration: 5s;
  transition-timing-function: ease-in;
}

@keyframes fade_left {
  from {left: 150%;}
  to {left: 55%;}
}

.first_button{
  color: white;
  padding: 9px 32px;
  background:linear-gradient(to right, #9716B0, #4D14A5, #4118B9, #201CA0);
  border-radius: 30px;
  margin-right: 80px;
  border : none;
  cursor: pointer;
}

.second_button{
  color: white;
  padding: 9px 32px;
  background:linear-gradient(to right, #9716B0, #4D14A5, #4118B9, #201CA0);
  border-radius: 30px;
  margin-left: 80px;
  border: none;
}


// .button_container{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   font-weight:$font-weight-light;
//   padding-left: 4rem;
// }

.discover{
  color: white;
  text-decoration: none;
}

.iPutAPadding{
  padding-top: 16rem;
}



// .pre_order{
//   max-width: 190px;
// }

// second PART

// .second_height{
//   padding-bottom: 1000px;
// }


// third PART

// .third_height{
// padding-top: 300px;
// }

// .flex_row{
//   display: flex;
//   flex-direction: row;
// }
