@import "simple-grid";

@font-face{
  font-family: Avenir;
  src : url("../font/AvenirLTStd-Book.otf");
  src : url("../font/AvenirLTStd-Medium.otf");
  src : url("../font/AvenirLTStd-Roman.otf");
}

html, body{
  overflow-x: hidden;
}

body{
  font-family: 'Avenir';
  background: rgb(17,29,80);
  background: linear-gradient(90deg, rgba(17,29,80,1) 0%, rgba(26,14,71,1) 35%, rgba(25,17,72,1) 100%);
  color: white;
  text-align: center;
}

//       HEADER       //

body{
  margin: 0 auto;
  padding: 0 auto;
  // background-image: url(../images/fond.png);
}

#header{
  display: flex;
  align-items: center;
  height: 150px;
}

.colheader{
  margin-top: 15px !important;
}

.link{
  font-size: 24px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
}


.link:hover{
  font-size: 30px;
  transform-origin: center;
  transition: all .2s ease-in-out;
}

#footer{
  display: flex;
  align-items: center;
  height: 150px;
}

.border{
  position: relative;
}

.white_border_header{
  position: absolute;
  background-color: white;
  height: 40px;
  width: 1.5px;
  right: -12%;
  top: -2%;
}

.h2_footer, p_footer{
  color: white;
  font-size: 14px;
}

.link_footer{
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.margin_footer{
  margin: 0;
}

.white_border_footer{
  position: absolute;
  background-color: white;
  height: 1.5px;
  width: 110px;
}

.resize_logo{
  width: 30px;
  height: 30px;
}

//       HEADER:     //

//      BODY        //
.relative{
  position: relative;
}

.brosse_a_dent{
  position : absolute;
  top: 0%;
  left: 55%;
  transform: scale(0.9);
}

.boitier{
  position : absolute;
  top: 30%;
  right: 40%;
  transform: scale(0.7);
}

.phone{
  position : absolute;
  bottom: -66%;
  left: 60%;
  transform: scale(0.5);
}

.arrow{
  height: 14px;
}

.ces{
  height: 100px;
}

.fade_left{
  width: 500px;
  animation-name: fade_left;
  animation-duration: 5s;
  transition-timing-function: ease-in;
}

@keyframes fade_left {
  from {left: 150%;}
  to {left: 55%;}
}

.first_button{
  color: white;
  padding: 9px 32px;
  background:linear-gradient(to right, #9716B0, #4D14A5, #4118B9, #201CA0);
  border-radius: 30px;
  margin-right: 80px;
  border : none;
  cursor: pointer;
}

.second_button{
  color: white;
  padding: 9px 32px;
  background:linear-gradient(to right, #9716B0, #4D14A5, #4118B9, #201CA0);
  border-radius: 30px;
  margin-left: 80px;
  border: none;
}

.discover{
  color: white;
  text-decoration: none;
}

.iPutAPadding{
  padding-top: 16rem;
}

.padding_footer{
  padding-top: 6rem;
}

.color{
  color: black;
}
.whitezone{
  // background: white;
  color: black;
  position: relative;
  z-index: -1;
}

.whitezone-up{
  position: absolute;
  left: -1vw;
  width: 101vw;
  right: 0;
  bottom: 99%;
  z-index: -1;
  transform: scale(1.5);
}

.whitezone-down{
  position: absolute;
  bottom: 100%;
  left: -10vw;
  width: 101vw;
  right: 0;
  bottom: 0%;
  z-index: -1;
  transform: scale(1.5);
}
//      BODY       //

//      FOOTER      //
//      FOOTER      //
