@import "simple-grid";

@font-face{
  font-family: Avenir;
  src : url("../font/AvenirLTStd-Book.otf");
  src : url("../font/AvenirLTStd-Medium.otf");
  src : url("../font/AvenirLTStd-Roman.otf");
}

html, body {
  overflow-x: hidden;
}

body{
  font-family: 'Avenir';
  background: rgb(17,29,80);
  background: linear-gradient(90deg, rgba(17,29,80,1) 0%, rgba(26,14,71,1) 35%, rgba(25,17,72,1) 100%);
  color: white;
  overflow-x: hidden;
}

// first part

.first_part{
  padding-top: 10%;
  text-align: center;
}

.brosse_debout{
  transform: scale(7);
}

div .brosse_debout{
  padding-top: 10%;
}

.informations{
  padding-top: 10%;
}

.button{
  color: white;
  padding: 9px 32px;
  background:linear-gradient(to right, #9716B0, #4D14A5, #4118B9, #201CA0);
  border-radius: 30px;
  text-decoration: none;
}

.button_container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:$font-weight-light;
  padding-left: 4rem;
}


h2{
  text-transform: uppercase;
}

.h4_footer, .p_footer{
  color: white;
  font-size: 14px;
}

// second PART

.second_part{
  padding-top: 16rem;
  text-align: center;
}

.whitezone{
  background: white;
  color: black;
  position: relative;
  z-index: -1;
}

.whitezone-up{
  position: absolute;
  left: -1vw;
  width: 101vw;
  right: 0;
  bottom: 99%;
  z-index: -1;
  transform: scaleX(-1);
}
.whitezone-down{
  position: absolute;
  left: -1vw;
  width: 101vw;
  right: 0;
  top: 99%;
  z-index: -1;
  transform: scale(-1);
}

// third PART

.top{
  transform: scale(0.7);
}

.fade_right{
  position: absolute;
  animation-fill-mode: both;
  left: -100%;
}
.fade_right_animate{
  animation-name: fade_right;
  animation-duration: 4s;
  transition-timing-function: ease-in;
}

@keyframes fade_right {
  from {left: -100%;}
  to {left: -63%;}
}

.short-mode{
  width: 100%;

}
.mode-caption{
  padding-top: 50px;
}

.title-gradient{
  font-style: italic;
}

// eight PART

.resize{
  transform: scale(0.8);
  margin: 0 !important;
}

// ninth PART
.test4{
  margin: 0 !important;
}


.iPutAMargin{
  margin-top: 16rem;
}
.iPutAPadding {
  padding-top: 16rem; }

.text-center{
  text-align: center;
}
.text-black{
  color: #000000;
}
.greentext{
  color: #46D58A;
}
.redtext{
  color: #961338;
}

.appdl{
  width: 100%;
  height: auto;
}

.phone-app img{
  width: 30%;
}

.flexify{
  display: flex;
  align-items: center;
}

@media screen and (max-width: $breakpoint-large){
  .head-flexify{
    display: flex;
    justify-content: center;
  }
  .brosse_debout + div{
    text-align: center;
  }
  .brosse_debout{
    position: initial;
    transform: scale(1);
    height: 50vh;
    width: auto;
  }
  .fade_right{
    display: none;
  }
}
