@import "simple-grid";

@font-face{
  font-family: Neutra;
  src : url("../font/NeutraText-BookAlt.ttf");
}

body{
  font-family: 'Neutra';
  background: rgb(17,29,80);
  background: linear-gradient(90deg, rgba(17,29,80,1) 0%, rgba(26,14,71,1) 35%, rgba(25,17,72,1) 100%);
  color: white;
}


img{
  border-radius: 4px;
  min-width:100%;
  max-width: 100%;
  display : block;
  object-fit: cover;
  height: 250px;
}

.image_container{
  margin: 0;
  height :250px;
  position: relative;
  display: inline-block;
  overflow-y: hidden;
}

div[class^="col"] {
  display: flex;
  flex-direction: column;
  height : 350px;
}

span {
  display: flex;
  justify-content: center;
}

p {
  text-align: center; }

.hover {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  padding: 5px 2px;
  text-align: center;
  background: rgba(255, 175, 0, 0.5);
  color: #FFF;
  margin: 0;
  transition:all linear 0.4s;
  transition-timing-function: ease-in;
}

div[class^="col"]:hover .hover{
  display : block;
  bottom: 100px;
}


img.col-5.image{
  margin: 0;
}

input[type=text], select {
  outline: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  background-color: #1f59b2;
  border-radius: 30px;
  border: solid 1px;
  border-color: white;
  color: white;
  padding: 9px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: #1f59b2;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
